<div class="container my-5 contacts">
    <h1>Контакты</h1>
    <div class="row">
        <div class="col-lg-6 map" style="padding: 0">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9ef1cb09d070e0f6c50b8156ead4c0d6a0b8bc51256190e92fe41c56c9da8b5b&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <div class="col-lg-6 my-2">
            <div class="card">
                <h4 class="card-header">
                    Адрес
                </h4>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Россия</h6>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-unstyled">
                                    <li class="media">
                                        Город:
                                    </li>
                                    <li class="media">
                                        Улица:
                                    </li>
                                    <li class="media">
                                        Дом:
                                    </li>
                                    <li class="media">
                                        Строение:
                                    </li>
                                    <li class="media">
                                        Индекс:
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-unstyled">
                                    <li class="media">
                                        <b>Москва</b>
                                    </li>
                                    <li class="media">
                                        <b>Пушкина</b>
                                    </li>
                                    <li class="media">
                                        <b>111</b>
                                    </li>
                                    <li class="media">
                                        <b>1</b>
                                    </li>
                                    <li class="media">
                                        <b>111222</b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
