{% extends 'base.html' %}

{% block title %}
    Категории
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-between my-5">
            {% for category in categories %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card category my-2">
                        <img class="card-img-top" src="{{ category.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <p class="card-text category-description" >{{ category.description }}</p>
                            <a href="{{ category.get_absolute_url }}" class="btn btn-primary" >Посмотреть подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}