{% extends "base.html" %}
{% load static %}
{% block title %}{{ item.name }}{% endblock %}

{% block other_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-7">
                <div class="detail-view-slider">
                    <div class="image_of_slider"><img src="{{ item.image_main.url }}" alt="main_image"></div>
                    {% for i in other_images %}
                        <div class="image_of_slider"><img src="{{ i.img.url }}" alt=""></div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-5 product_detail_info">
                <h1 class="item_name">{{ item.name }}</h1>
                <p class="item_category text-muted">{{ item.category }}</p>
                <h2 class="item_price">{{ item.price }}</h2>

                <div class="order-button_block">
                    <button type="submit" class="order_button">Заказать</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="item_description">
                    <p class="text-muted">{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'slick\slick.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            $('.detail-view-slider').slick({
                arrows: false,
                dots: true,
                centerMode: true,
                {#adaptiveHeight: true,#}
                speed: 250,
                fade: true,
                cssEase: 'linear'
            });
        });
    </script>
{% endblock %}