{% extends "base.html" %}
{% load static %}

{% block title %}Mirror Mania{% endblock %}

{% block content %}
    <div style="" class="border-bottom">
        <div class="house_header container text-center col-lg-5">
            <h1>
                Mirror mania
            </h1>
            <p>
                Здесь должен быть призыв к совершению звонка, или к тому,
                чтобы клиент оставил свои данные.
            </p>
            <p>
                <a href="#" class="btn btn-outline-primary callback_btn my-2">Перезвоните мне!</a>
            </p>
        </div>
    </div>
    <div class="house_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 elements_of_house">
                    <div class="container">
                        <div class="element_of_house door" id="Fence_" onclick="window.location = '/ograzhdeniya'"><img
                                src="{% static "svg\fence.svg" %}"
                                alt="icon" class="icon"> Ограждения
                        </div>
                        <div class="element_of_house" id="Floor_" onclick="window.location = '/poly'"><img
                                src="{% static "svg\floor.svg" %}" alt="icon"
                                class="icon"> Полы
                        </div>
                        <div class="element_of_house" id="Facade_" onclick="window.location = '/oblicovki'"><img
                                src="{% static "svg\facade.svg" %}" alt="icon"
                                class="icon"> Облицовки
                        </div>
                        <div class="element_of_house" id="Walls_" onclick="window.location = '/peregorodki'"><img
                                src="{% static "svg\window.svg" %}" alt="icon"
                                class="icon"> Порталы
                        </div>
                        <div class="element_of_house" id="Roof_" onclick="window.location = '/kozyrki'"><img
                                src="{% static "svg\roof.svg" %}" alt="icon"
                                class="icon"> Козырьки
                        </div>
                        <div class="element_of_house" id="Door_" onclick="window.location = '/dveri'"><img
                                src="{% static "svg\door.svg" %}" alt="icon"
                                class="icon"> Двери
                        </div>
                        <div class="element_of_house" id="Table_" onclick="window.location = '/pokryvnoe-steklo'"><img
                                src="{% static "svg\table.svg" %}" alt="icon"
                                class="icon"> Покрывное стекло
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    {% include "main/house.svg" %}
                </div>
                <div class="col-lg-2 elements_of_house">
                    <div class="container">
                        <div class="element_of_house" id="Sliding_doors_"
                             onclick="window.location = '/razdvizhnye-dveri'" style="line-height:1;"><img
                                src="{% static "svg\reldoor.svg" %}" alt="icon" class="icon"> Раздвижные двери
                        </div>
                        <div class="element_of_house" id="Stairs_" onclick="window.location = '/lestnicy'"><img
                                src="{% static "svg\stairs.svg" %}" alt="icon"
                                class="icon"> Лестницы
                        </div>
                        <div class="element_of_house" id="Partition_" onclick="window.location = '/peregorodki'"><img
                                src="{% static "svg\wall.svg" %}" alt="icon"
                                class="icon"> Перегородки
                        </div>
                        <div class="element_of_house" id="Bath_" onclick="window.location = '/dushevye'"><img
                                src="{% static "svg\shower.svg" %}" alt="icon"
                                class="icon"> Душевые
                        </div>
                        <div class="element_of_house" id="Mirror_" onclick="window.location = '/zerkala'"><img
                                src="{% static "svg\mirror.svg" %}" alt="icon"
                                class="icon"> Зеркала
                        </div>
                        <div class="element_of_house" id="Shelf_" onclick="window.location = '/polki'"><img
                                src="{% static "svg\shelv.svg" %}" alt="icon"
                                class="icon"> Полки
                        </div>
                        <div class="element_of_house" id="Apron_" onclick="window.location = '/fartuki-skinali'"><img
                                src="{% static "svg\apron.svg" %}" alt="icon"
                                class="icon"> Фартуки (Скинали)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="">
        <div class="house_header container col-lg-5 text-center">
            <h2>Заинтересовались?</h2>
            <p>Свяжитесь с нами. Наш специалист будет рад вам помочь</p>
            <p class="links_effect_center">
                <a href="#" class="" style="padding: 0">+7(911)111-11-11</a>
                |
                <a href="#" class="" style="padding: 0">Написать </a>
            </p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#Fence_").hover(
            function () {
                $("#Fence").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Fence").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Floor_").hover(
            function () {
                $("#Floor").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Floor").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Facade_").hover(
            function () {
                $("#Facade").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Facade").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Walls_").hover(
            function () {
                $("#Walls").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Walls").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Roof_").hover(
            function () {
                $("#Roof").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Roof").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Door_").hover(
            function () {
                $("#Door").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Door").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Table_").hover(
            function () {
                $("#Table").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Table").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Sliding_doors_").hover(
            function () {
                $("#Sliding_doors").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Sliding_doors").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Stairs_").hover(
            function () {
                $("#Stairs").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Stairs").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Partition_").hover(
            function () {
                $("#Partition").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Partition").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Bath_").hover(
            function () {
                $("#Bath").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Bath").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Mirror_").hover(
            function () {
                $("#Mirror").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Mirror").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Shelf_").hover(
            function () {
                $("#Shelf").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Shelf").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
        $("#Apron_").hover(
            function () {
                $("#Apron").children().css({
                    "opacity": "0.4",
                    "transition": "500ms",
                    "cursor": "pointer"
                });
            },
            function () {
                $("#Apron").children().css({
                    "opacity": "0.05",
                    "transition": "500ms",
                });
            }
        );
    </script>
{% endblock %}