{% extends "base.html" %}
{% load static %}

{% block title %}Mirror Mania{% endblock %}

{% block content %}
    <div style="box-shadow: inset 0 0 5px black;">
        <div class="house_header container text-center col-lg-5">
            <h1>
                Mirror mania
            </h1>
            <p>
                Здесь долженен быть призыв к совершению звонка, или к тому,
                чтобы клиент оставил свои данные.
            </p>
            <p>
                <a href="#" class="btn callback_btn my-2">Перезвоните мне!</a>
            </p>
        </div>
    </div>
    <div class="house_bg">
        <div class="container">
            <div class="row">
                 <div class="col-lg-2 elements_of_house">
                     <div class="element_of_house door" id="Fence_"><img src="{% static "svg\fence.svg" %}" alt="icon" class="icon"> Ограждения</div>
                     <div class="element_of_house" id="Floor_"><img src="{% static "svg\floor.svg" %}" alt="icon" class="icon"> Полы</div>
                     <div class="element_of_house" id="Facade_"><img src="{% static "svg\facade.svg" %}" alt="icon" class="icon"> Облицовки</div>
                     <div class="element_of_house" id="Walls_"><img src="{% static "svg\window.svg" %}" alt="icon" class="icon">  Порталы</div>
                     <div class="element_of_house" id="Roof_"><img src="{% static "svg\roof.svg" %}" alt="icon" class="icon"> Козырьки</div>
                     <div class="element_of_house" id="Door_"><img src="{% static "svg\door.svg" %}" alt="icon" class="icon"> Двери</div>
                     <div class="element_of_house" id="Table_"><img src="{% static "svg\table.svg" %}" alt="icon" class="icon"> Столы</div>
                 </div>
                 <div class="col-lg-8">
                    {% include "main/house.svg"%}
                 </div>
                <div class="col-lg-2 elements_of_house">
                    <div class="element_of_house" id="Sliding_doors_" style="padding:4.5%; line-height:1;"><img src="{% static "svg\reldoor.svg" %}" alt="icon" class="icon"> Раздвижные двери</div>
                    <div class="element_of_house" id="Stairs_"><img src="{% static "svg\stairs.svg" %}" alt="icon" class="icon"> Лестницы</div>
                    <div class="element_of_house" id="Partition_"><img src="{% static "svg\wall.svg" %}" alt="icon" class="icon"> Перегородки</div>
                    <div class="element_of_house" id="Bath_"><img src="{% static "svg\shower.svg" %}" alt="icon" class="icon"> Душевые</div>
                    <div class="element_of_house" id="Mirror_"><img src="{% static "svg\mirror.svg" %}" alt="icon" class="icon"> Зеркала</div>
                    <div class="element_of_house" id="Shelf_"><img src="{% static "svg\shelv.svg" %}" alt="icon" class="icon"> Полки</div>
                    <div class="element_of_house" id="Apron_"><img src="{% static "svg\apron.svg" %}" alt="icon" class="icon"> Фартуки</div>
                </div>
            </div>
        </div>
    </div>
    <div style="box-shadow: inset 0 0 5px black;">
        <div class="house_header container col-lg-5 text-center">
            <h2>
                Заинтересовались?
            </h2>
            <p>
                Свяжитесь с нами. Наш специалист будет рад вам помочь😉
            </p>
            <p>
            <h5><a href="#" class="btn btn-link" style="padding: 0">+7(911)111-11-11</a> | <a href="#" class="btn btn-link" style="padding: 0">Написать</a></h5>
            </p>
        </div>
    </div>
{% endblock %}