body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header, .navbar {
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
    display: block;
}

header {
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}

.map {
    box-shadow: 2px 2px 3px black;
}

.slick-prev:before, .slick-next:before {
    color: #17479e !important;
}

.header-top {
    display: block;
    background: #17479e;
    height: 40px;
    color: white;
    padding: 0.5%;
}

.navbar-toggler {
    background: #17479e;
    color: white;
}

.navbar-nav {
    margin-left: auto;
}

.elements_of_house {
    padding: 20px;
    padding-top: 60px;
}

.element_of_house {
    /*background: #17479e;
    box-shadow: 2px 2px 5px black;
    color: #FFFFFF;
    padding: 5%;*/
    color: #17479e;
    text-shadow: 1px 1px 2px #bccaff;

    width: 140px;
    height: 50px;
    margin-right: 8px;
    border-radius: 10px;
    text-align: left;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    transition: 250ms;
    float: left;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.element_of_house:hover {
    transform: translate(10px);
    transition: 250ms;
}

.house_header {
    padding: 50px;
}

.house_bg {
    background: #f8f9fa;
    box-shadow: 0 0 5px black;
}

.footer_bg {
    box-shadow: 0 0 5px black;
}

.callback_btn {
    /*border: 4px pink;*/
    border-color: #17479e;
    /*color: white;*/
}

.callback_btn:hover {
    background: #1951BB;
    color: #f8f9fa;
}

.icon {
    width: 16px;
    margin-bottom: 3%;
}

.card {
    width: 100%;
}

.card > img {
    width: 100%;
}

.category {

}

p.category-description {
    z-index: 20;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}

.first_article {
    background: #f8f9fa;
}

.second_article {
    background: white;
}

.third_article {
    background: #f8f9fa;
}

.fourth_article {
    background: white;
}

.contacts h1 {
    color: darkgray;
}

.items_card {
    box-shadow: 3px 3px 5px black;
    transition: 500ms;
    border: 0;
}

.items_card:hover {
    transition: 500ms;
    box-shadow: -3px 3px 5px black;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
    .card {
        width: 90%;
        margin: 10px auto;
    }
}

.product_detail_info {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1.125rem;
}

.image_of_slider img {
    width: 700px;
    height: auto;
    /*max-height: 500px;*/
}

.item_name {
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.item_category {
    margin-top: 10px;
}

.item_price {
    font-size: 27px;
    margin: 30px 0 1rem 0;
    font-weight: normal;
}

.order-button_block {
    text-align: center;
}

.order_button {
    color: white;
    border: none;
    max-width: 450px;
    margin-top: 15px;
    width: 100%;
    background-color: #17479e;
    border-radius: 0;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.item_description {
    border-top: 0.0625rem solid #e3dddd;
    margin: 25px 0;
    padding: 2rem 0 0 0;
    font-size: 1rem;
}

@media screen and (max-width: 991px) {
    .item_name {
        text-align: center;
    }

    .item_category {
        text-align: center;
    }

    .item_price {
        text-align: center;
    }

    .item_description {
        text-align: center;
        border: none;
    }
}