{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="header.css">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="header border-bottom">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center">10:00-21:00</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center">+7(911)111-11-11</div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-light bg-light navbar-inverse">
        <div class="container">
            <a class="navbar-brand" href="{% url "main:index" %}">
                Mirror Mania
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background: #17479e">
			    <span style="color: white;">
			    	<i class="fa fa-bars"></i>
			    </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "main:index" %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "main:category_list" %}">Продукция</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "main:about_us" %}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "main:contacts" %}">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- /header -->


<main>
    {% block content %}{% endblock %}
</main>

<footer class="section footer-classic context-dark bg-light" style="background: #2d3246;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4 my-5">
                    <img src="https://via.placeholder.com/150x50" alt="Логотип">
                    <p>Здесь должен быть небольшой текст о том, когда и для чего была создана компания.</p>
                    <!-- Rights-->
                    <p class="rights"><span>©  </span><span
                            class="copyright-year">2018</span><span> </span><span>Mirror Mania</span><span>. </span>
                    </p>
                </div>
            </div>
            <div class="col-lg-7 my-5">
                <div class="container">
                    <h5>Контакты</h5>
                    <div class="row">
                        <dl class="col-lg-4">
                            <dt>Адрес:</dt>
                            <dd>111222, Москва, Пушкина, 1</dd>
                        </dl>
                        <dl class="col-lg-4">
                            <dt>email:</dt>
                            <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
                        </dl>
                        <dl class="col-lg-4">
                            <dt>Телефон:</dt>
                            <dd><a href="tel:#">+91 7568543012</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script>
    $("#Fence_").hover(
        function () {
            $("#Fence").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Fence").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Floor_").hover(
        function () {
            $("#Floor").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Floor").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Facade_").hover(
        function () {
            $("#Facade").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Facade").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Walls_").hover(
        function () {
            $("#Walls").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Walls").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Roof_").hover(
        function () {
            $("#Roof").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Roof").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Door_").hover(
        function () {
            $("#Door").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Door").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Table_").hover(
        function () {
            $("#Table").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Table").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Sliding_doors_").hover(
        function () {
            $("#Sliding_doors").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Sliding_doors").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Stairs_").hover(
        function () {
            $("#Stairs").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Stairs").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Partition_").hover(
        function () {
            $("#Partition").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Partition").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Bath_").hover(
        function () {
            $("#Bath").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Bath").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Mirror_").hover(
        function () {
            $("#Mirror").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Mirror").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Shelf_").hover(
        function () {
            $("#Shelf").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Shelf").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
    $("#Apron_").hover(
        function () {
            $("#Apron").children().css({
                "opacity": "0.4",
                "transition": "500ms",
                "cursor": "pointer"
            });
        },
        function () {
            $("#Apron").children().css({
                "opacity": "0.05",
                "transition": "500ms",
            });
        }
    );
</script>
</body>
</html>